<!DOCTYPE html>
<html>

<head>
  <title><%= title %> </title>
  <link rel="stylesheet" href="/stylesheets/for_wave_row.css">
  <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/lib/jquery-migrate-1.1.1.js"></script>
  <script src="/javascripts/lib/vue2-3-4.js"></script>
</head>

<body>