<!DOCTYPE html>
<html>

<head>
  <title><%= title %> </title>
  <link rel="icon" type="image/x-icon" href="/images/common/favicon.ico" />
  <link rel="stylesheet" href="/stylesheets/for_wave_row.css">
</head>

<body>
  <div id="isloading">正在加载...</div>
  <div>
    <div id="audioList">
      <ul class="audioLis_ul">
        <li v-for="item in audioList" class="audioLidLis_li">
          <div class="row_one">
            <div class="row_div">
              <!-- 左边 -->
              <div class="row_L">
                <!-- 左上 -->
                <div class="row_L_top">
                  <div class="row_L_top_div">
                    <div class="row_L_top_content">
                      <button class="play_and_pause_button btnPlay">
                      <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                        viewBox="0 0 30 30" class="play_svg" style="vertical-align:middle">
                        <title>Play</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g transform="translate(-1.000000, -1.000000)" fill="#000" fill-rule="nonzero">
                            <path
                              d="M21.2224954,16.2938514 C21.2876061,16.3396427 21.320161,16.4006969 21.320161,16.4770157 C21.320161,16.5685983 21.2876061,16.6372842 21.2224954,16.6830755 L13.9952401,22.2466908 C13.9301294,22.2924821 13.8406034,22.3001139 13.7266597,22.2695864 C13.6289936,22.2237951 13.5801612,22.1474774 13.5801612,22.040631 L13.5801612,10.9134004 C13.5801612,10.8218178 13.6289936,10.7531319 13.7266597,10.7073406 C13.8243258,10.6615493 13.9138517,10.6691811 13.9952401,10.7302361 L21.2224954,16.2938514 Z M16,1 C7.7125,1 1,7.7125 1,16 C1,24.2875 7.7125,31 16,31 C24.2875,31 31,24.2875 31,16 C31,7.7125 24.2875,1 16,1 Z M16,29.0645161 C8.79818548,29.0645161 2.93548387,23.2018145 2.93548387,16 C2.93548387,8.79818548 8.79818548,2.93548387 16,2.93548387 C23.2018145,2.93548387 29.0645161,8.79818548 29.0645161,16 C29.0645161,23.2018145 23.2018145,29.0645161 16,29.0645161 Z">
                            </path>
                          </g>
                        </g>
                      </svg>
                      </button>
                      <span class="audio-time CurrentTime">00:00</span>
                      <div class="wave_div">
                        <div v-bind:id="item.id" class="waveform"></div>
                      </div>
                      <span class="audio-time current-time">00:00</span>
                    </div>
                  </div>
                </div>
                <!-- 左下 -->
                <div class="row_L_bottom">
                  <span class="row_L_B_L">
                    <div class="music_info">
                      <h3 class="h3_m_name">
                        <a class="music_name_a" href="#">
                          Music name
                        </a>
                      </h3>
                      <div class="music_by_div">
                        <i>by</i>
                        <a href="#" class="music_author">Author name</a>
                      </div>
                    </div>
                  </span>
                  <span>
                    <div class="text-align-r">
                      <div class="down-icon">
                        <a download="672644_heart-beat-_by_gabrielgaro_preview.mp3" role="button"
                          href="">
                          <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em"
                            viewBox="0 0 16 16" class="down-svg" style="vertical-align: middle;">
                            <title>Download Preview</title>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <path fill="#999999"
                                d="M7.11007775,2.12374214 L8.88938839,2.12374214 L8.88938839,7.67667237 L10.431426,6.22573283 L11.6768722,7.3976026 L7.99973307,10.8586259 L4.3225939,7.3976026 L5.56804017,6.22573283 L7.11007775,7.67667237 L7.11007775,2.12374214 Z M15,12.4493235 L15,14.1237421 L1,14.1237421 L1,12.4493235 L15,12.4493235 Z">
                              </path>
                            </g>
                          </svg>
                        </a>
                      </div>
                      <a role="button" href="#" class="like-a" rel="nofollow">
                        <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 512 512" class="add-f-svg"
                          style="vertical-align: middle;">
                          <title>Add to Favorites</title>
                          <g>
                            <path
                              d="M256 475.8c-4.9 0-9.1-1.7-12.5-5.1l-176.7-170.5c-1.9-1.5-4.5-4-7.8-7.4-3.3-3.4-8.5-9.6-15.7-18.6-7.2-9-13.6-18.2-19.3-27.6-5.7-9.4-10.7-20.9-15.2-34.3-4.3-13.3-6.5-26.3-6.5-38.9 0-41.5 12-74 36-97.4 24-23.4 57.1-35.1 99.4-35.1 11.7 0 23.6 2 35.8 6.1 12.2 4.1 23.5 9.5 34 16.4 10.5 6.9 19.5 13.4 27 19.4 7.5 6 14.7 12.5 21.5 19.3 6.8-6.8 14-13.2 21.5-19.3 7.5-6 16.6-12.5 27-19.4 10.5-6.9 21.8-12.4 34-16.4 12.2-4.1 24.1-6.1 35.8-6.1 42.3 0 75.4 11.7 99.4 35.1 24 23.4 36 55.9 36 97.4 0 41.7-21.6 84.2-64.9 127.4l-176.3 169.9c-3.4 3.4-7.6 5.1-12.5 5.1z">
                            </path>
                          </g>
                        </svg>
                      </a>
                    </div>
                  </span>
                </div>
              </div>
              <!-- 右边 -->
              <div class="row-R">
                <section class="row-r-s">
                  <section class="row-r-ss">
                    <span>
                      <span class="price-span">
                        <div class="price-div">￥0</div>
                      </span>
                      <span>
                          <div class="sales-div">0 Sales</div>
                      </span>
                    </span>
                    <span class="cart-span">
                      <a class="cart-a" role="button" href="#" target="_blank"><svg
                          fill="currentColor" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" viewBox="0 0 16 16"
                          style="vertical-align: middle;">
                          <title>Cart</title>
                          <g>
                            <path
                              d="M 0.009 1.349 C 0.009 1.753 0.347 2.086 0.765 2.086 C 0.765 2.086 0.766 2.086 0.767 2.086 L 0.767 2.09 L 2.289 2.09 L 5.029 7.698 L 4.001 9.507 C 3.88 9.714 3.812 9.958 3.812 10.217 C 3.812 11.028 4.496 11.694 5.335 11.694 L 14.469 11.694 L 14.469 11.694 C 14.886 11.693 15.227 11.36 15.227 10.957 C 15.227 10.552 14.886 10.221 14.469 10.219 L 14.469 10.217 L 5.653 10.217 C 5.547 10.217 5.463 10.135 5.463 10.031 L 5.487 9.943 L 6.171 8.738 L 11.842 8.738 C 12.415 8.738 12.917 8.436 13.175 7.978 L 15.901 3.183 C 15.96 3.08 15.991 2.954 15.991 2.828 C 15.991 2.422 15.65 2.09 15.23 2.09 L 3.972 2.09 L 3.481 1.077 L 3.466 1.043 C 3.343 0.79 3.084 0.612 2.778 0.612 C 2.777 0.612 0.765 0.612 0.765 0.612 C 0.347 0.612 0.009 0.943 0.009 1.349 Z M 3.819 13.911 C 3.819 14.724 4.496 15.389 5.335 15.389 C 6.171 15.389 6.857 14.724 6.857 13.911 C 6.857 13.097 6.171 12.434 5.335 12.434 C 4.496 12.434 3.819 13.097 3.819 13.911 Z M 11.431 13.911 C 11.431 14.724 12.11 15.389 12.946 15.389 C 13.784 15.389 14.469 14.724 14.469 13.911 C 14.469 13.097 13.784 12.434 12.946 12.434 C 12.11 12.434 11.431 13.097 11.431 13.911 Z">
                            </path>
                          </g>
                        </svg>
                      </a>
                    </span>
                  </section>
                </section>
              </div>

            </div>
          </div>

        </li>
      </ul>
    </div>

  </div>
  <script src="/javascripts/lib/wavesurfer.js"></script>
  <script src="/javascripts/lib/wavesurfer.cursor.js"></script>
  <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/lib/jquery-migrate-1.1.1.js"></script>
  <script src="/javascripts/lib/vue2-3-4.js"></script>
  <script src="/javascripts/for_wave.js"></script>
</body>

</html>