<header id="mobile-header" class="ui large secondary inverted pointing menu">
    <a class="toc item">
        <i class="sidebar icon"></i>
    </a>
    <div class="ui search">
        <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search">
        <i class="search icon"></i>
        </div>
        <div class="results"></div>
    </div>
</header>