<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">关于</font>
            </font>
          </h4>
          <div class="ui inverted link list">
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">网站地图</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">联系我们</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">宗教仪式</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">凉亭计划</font>
              </font>
            </a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">服务</font>
            </font>
          </h4>
          <div class="ui inverted link list">
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">香蕉预购</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">DNA常见问题</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">如何访问</font>
              </font>
            </a>
            <a href="https://semantic-ui.com/examples/homepage.html#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">最喜欢的X战警</font>
              </font>
            </a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">页脚标题</font>
            </font>
          </h4>
          <p>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">页脚内部呼叫操作的额外空间可以帮助重新吸引用户。</font>
            </font>
          </p>
        </div>
      </div>
    </div>
  </div>


  
</div>





</body>

</html>