<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">关于</font>
            </font>
          </h4>
          <div class="ui inverted link list">
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">月落乌啼霜满天</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">江枫渔火对愁眠</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">姑苏城外寒山寺</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">夜半钟声到客船</font>
              </font>
            </a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">服务</font>
            </font>
          </h4>
          <div class="ui inverted link list">
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">东风袅袅泛崇光</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">香雾空蒙月转廊</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">只恐夜深花睡去</font>
              </font>
            </a>
            <a href="#" class="item">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">故烧高烛照红妆</font>
              </font>
            </a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">页脚标题</font>
            </font>
          </h4>
          <p>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">艺术品绝非是对那些在任何给予的时间里显现的个别存在物的再现</font>
            </font>
          </p>
        </div>
      </div>
    </div>
  </div>



</div>





</body>

</html>