<!DOCTYPE html>
<html lang="zh">
<head>
  <title><%= title %> </title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/for_wave_row.css">
 
  <link rel="stylesheet" type="text/css" href="/stylesheets/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

  <script src="/javascripts/lib/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/lib/jquery-migrate-1.1.1.js"></script>
  <script src="/javascripts/lib/vue2-3-4.js"></script>
  <script src="/javascripts/semantic-ui/visibility.js"></script>
  <script src="/javascripts/semantic-ui/sidebar.js"></script>
  <script src="/javascripts/semantic-ui/transition.js"></script>
  <script src="/javascripts/index.js"></script>
</head>

<body class="pushable">

  <!-- Following header -->
  <header id="mobile-header" class="">
  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search">
      <i class="search icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <!-- <h1><a href="#">AUDIO</a></h1>
  <form role="search" method="get" class="search-form" action="">
      <label class="screen-reader-text" for="s">Search for:</label>
      <input type="search" class="search-field" placeholder="您可以搜索：用途、情绪、风格、乐器、试听音乐文件名等" value="" name="fwp_keywords" title="Search for:">
      <button type="submit" class="search-submit"><span class="screen-reader-text">您可以搜索：用途、情绪、风格、乐器、试听音乐文件名等</span></button>
      <a href="#" class="js-toggle-search js-toggle-search--close"><span class="screen-reader-text">Close</span></a>
  </form> -->
  </header>
  <!-- Following Menu -->
  <div class="ui large top fixed menu transition hidden">
    <div class="ui container">
      <a class="active item">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">家庭</font>
        </font>
      </a>
      
      <div class="right menu">
        <div class="item">
          <a class="ui button">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">登录</font>
            </font>
          </a>
        </div>
        <div class="item">
          <a class="ui primary button">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">注册</font>
            </font>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <div class="ui vertical inverted sidebar menu left">
    <a class="active item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">订单</font>
      </font>
    </a>
    <a class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">收藏</font>
      </font>
    </a>
    <a class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">公司</font>
      </font>
    </a>
    <a class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">职业</font>
      </font>
    </a>
    <a class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">登录</font>
      </font>
    </a>
    <a class="item">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">注册</font>
      </font>
    </a>
  </div>


  <!-- Page Contents -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">首页</font>
            </font>
          </a>
          <a class="item">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">订单</font>
            </font>
          </a>
          <a class="item">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">收藏夹</font>
            </font>
          </a>
          <a class="item">
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">购物车</font>
            </font>
          </a>
          <div class="right item">
            <a class="ui inverted button">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">登录</font>
              </font>
            </a>
            <a class="ui inverted button">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">注册</font>
              </font>
            </a>
          </div>
        </div>
      </div>

      <div class="ui text container">
        <h1 class="ui inverted header">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
              Audiosite
            </font>
          </font>
        </h1>
        <h2>
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">收录超过50000个音频片段</font>
          </font>
        </h2>
        <div class="ui search">
            <div class="ui icon input">
              <input class="prompt" type="text" placeholder="Search">
              <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </div>
      </div>

    </div>
    