<div class="ReactModal__Overlay ReactModal__Overlay--after-open ReactModal__Overlay">
    <div class="ReactModal__Content ReactModal__Content--after-open ReactModal__Content" tabindex="-1"
        aria-label="Modal">
        <div class="fds-c-modal -width-m modal">
            <header class="fds-c-modal__header fds-u-text-align-center fds-u-p3">
                <h1 class="fds-c-text-heading -size-s fds-u-mb0"><svg fill="currentColor"
                        preserveAspectRatio="xMidYMid meet" height="40" width="40" viewBox="0 0 512 512"
                        style="vertical-align: middle;">
                        <title>Ok</title>
                        <g>
                            <path
                                d="M200.5 447.6c-2.3 1.8-4.7 3-7.6 3-2.9 0-5.3-1.2-7.6-3l-180-179.9c-4.1-4.1-4.1-11.2 0-15.3l74.1-74.1c4.1-4.1 11.2-4.1 15.3 0l98.2 98.8 225.1-225.7c4.1-4.1 11.2-4.1 15.3 0l74.1 74.1c4.1 4.1 4.1 11.2 0 15.3l-306.9 306.8z">
                            </path>
                        </g>
                    </svg></h1>
                <h2 class="fds-c-text-heading -size-m fds-u-mb0">项目添加到您的购物车</h2>
            </header>
            <div class="fds-c-modal__section -background-mid -height-scroll fds-u-p2 ">
                <div class="cart-modal__core-info">
                    <h5 class="fds-c-text-heading -size-xxs" id="hadSelectName"></h5>
                </div>
                <div class="cart-modal__variant-info">
                    <p class="fds-c-text-heading -size-l"><b class="fds-c-text-currency">￥ <span
                                id="hadSelectPrice"></span></b></p>
                    <p class="fds-c-text-body -weight-bold -size-s fds-u-mb0">
                        <span>许可证：</span>
                        <a class="fds-c-text-link -size-m -weight-normal -decoration-none" id="hadSelectLicenses"></a>
                    </p>
                </div>
            </div>
            <footer class="fds-c-modal__footer">
                <div class="fds-c-modal__footer-cta -align-left"><button class="ui button add-c-button">继续浏览</button>
                </div>
                <div class="fds-c-modal__footer-cta -align-right"><button
                        class="ui secondary button add-s-button">马上结算</button></div>
            </footer>
        </div>
    </div>
</div>