<div class="ui inverted vertical masthead center aligned segment" id="segment">
    <div class="ui inverted menu PCtop">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo" src="/images/common/favicon.ico" title="首页">
                Audiosite
            </a>
            <a href="#" class="item">购物车</a>
            <div class="ui simple dropdown right item" style="width:99px">登录<i class="dropdown icon"></i>
                <div class="menu">
                <a class="item"><i class="user icon"></i>登录</a>
                <div class="divider" style="margin:0"></div>
                <a class="item"><i class="user plus icon"></i>注册</a>
                
                </div>
            </div>
        </div>
    </div>
    <div class="ui text container">
        <h1 class="ui inverted header">Audiosite</h1>
        <h2>收录超过50000个音频片段</h2>
        <div class="ui search">
            <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search">
            <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>

</div>