<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">

            <a class="active item">
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">首页</font>
                </font>
            </a>
            <a class="item">
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">保留页</font>
                </font>
            </a>

            <div class="right item">
                <a class="ui inverted button">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">登录</font>
                </font>
                </a>
                <a class="ui inverted button">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">注册</font>
                </font>
                </a>
            </div>
            
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
            Audiosite
            </font>
        </font>
        </h1>
        <h2>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">收录超过50000个音频片段</font>
        </font>
        </h2>
        <div class="ui search">
            <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search">
            <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>

</div>