<div class="ui pagination menu">
    <a class="icon item tofistpage"><i class="left chevron icon"></i></a>

    <a class="paging pagefist item">1</a>
    <a class="paging item">2</a>
    <a class="paging item">3</a>
    <a class="paging pageend item">4</a>

    <a class="icon item toendpage"><i class="right chevron icon"></i></a>
</div>