<div class="ui pagination menu" id="pageDiv">
    <a class="icon item toFistPage"><i class="left chevron icon"></i></a>

    <a class="paging pageFist item">1</a>
    <a class="paging item">2</a>
    <a class="paging item">3</a>
    <a class="paging pageEnd item">4</a>

    <a class="icon item toEndPage"><i class="right chevron icon"></i></a>
</div>