<div class="ReactModal__Overlay ReactModal__Overlay--after-open ReactModal__Overlay">
    <div class="ReactModal__Content ReactModal__Content--after-open ReactModal__Content" tabindex="-1"
        aria-label="Modal">
        <div class="fds-c-modal -width-m modal">
            <!-- <header class="fds-c-modal__header fds-u-text-align-center">
            <h2 class="fds-c-text-heading -size-m fds-u-mb0">自定义选择</h2>
        </header> -->
            <div class="fds-c-modal__section fds-u-text-align-center fds-u-p3 cart-modal__variant-selector">
                <div class="cart-modal__variant-selector__option">
                    <h4 class="fds-c-text-heading -size-s">选择许可证</h4>
                    <select class="fds-c-form-select" id="select-price">
                        <!-- <span>一次性 - ￥<span>0</span></span>
                <option >无限制 - ￥<span>0</span></option> -->
                    </select>
                </div>
            </div>
            <div class="fds-c-modal__section -background-mid -height-scroll fds-u-p2 ">
                <div class="cart-modal__core-info">
                    <h5 class="fds-c-text-heading -size-xxs" id="selected-audio-name"></h5>
                </div>
                <div class="cart-modal__variant-info">
                    <p class="fds-c-text-heading -size-l"><b class="fds-c-text-currency">￥<span
                                id="selected-price">0</span></b></p>
                    <p class="fds-c-text-body -weight-bold -size-s fds-u-mb0">
                        <span>许可证：</span>
                        <a class="fds-c-text-link -size-m -weight-normal -decoration-none" id="selected-license"></a>
                    </p>
                </div>
            </div>
            <footer class="fds-c-modal__footer">
                <div class="fds-c-modal__footer-cta -align-left"><button class="ui button c-button">取消</button></div>
                <div class="fds-c-modal__footer-cta -align-right"><button
                        class="ui secondary button s-button">加入购物车</button></div>
            </footer>
        </div>
    </div>
</div>