<div class="ui vertical inverted sidebar menu left" id="sidebar-menu-left">
    <a class="active item" href="/">首 页</a>
    <a id="cart-item" class="item" href="/cart">购物车</a>
    <a class="item">登 录</a>
    <a class="item">注 册</a>
</div>