<div class="ui vertical inverted sidebar menu left">
    <a class="active item">
        <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">首页</font>
        </font>
    </a>
    <a class="item">
        <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">登录</font>
        </font>
    </a>
    <a class="item">
        <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">注册</font>
        </font>
    </a>
</div>