<div class="ui vertical inverted sidebar menu left" id="sidebar-menu-left">
    <a id="index-item" class="active item" href="/"><i class="home icon sidebar-icon"></i>首 页</a>
    <a id="cart-item" class="item" href="/cart"><i class="shopping cart icon sidebar-icon"></i>购物车</a>
    <% if (user) { %>
        <a id="favorite-item" class="item" href="/favorite"><i class="heart icon sidebar-icon"></i>收 藏</a>
        <a id="order-item" class="item" href="/order"><i class="itunes note icon sidebar-icon"></i>已 购</a>
        <a id="signup-item" class="item" href="/signout"><i class="sign-out icon sidebar-icon"></i>退 出</a>
    <% } else { %>
        <a id="signin-item" class="item" href="/signin"><i class="user icon sidebar-icon"></i>登 录</a>
        <a id="signup-item" class="item" href="/signup"><i class="user plus icon sidebar-icon"></i>注 册</a>
    <% } %>
</div>