#pusher {
    margin-top: 53px;
}

.sixteen.wide.column.audioList-column {
    padding-bottom: 0;
}

.center.aligned.sixteen.wide.column.pageButton-column {
    padding-top: 0;
    padding-bottom: 30px;
}

.center.aligned.sixteen.wide.column.audioList-column {
    padding-top: 40px;
}