

/* .hidden.menu {
display: none;
} */

.two.column.stackable.ui.grid .thirteen.wide.column{
    text-align: center;
}
.ui.label.labeltag{
    margin-bottom: 4px;
}

.two.column.stackable.ui.grid{
    margin: auto;
}
.two.column.stackable.ui.grid .ui.list{
    margin-top: 5.5px;
    margin-bottom: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 267px;
}


.masthead.segment {
min-height: 700px;
padding: 1em 0em;
}
.ui .large .top .fixed .menu .transition .visible{
display: flex !important;
}

.masthead .logo.item img {
margin-right: 1em;
}
.two.column.stackable.ui.grid .ui.labels{
    margin-left: 10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: baseline;
    align-items: baseline;
}
.masthead .ui.menu .ui.button {
margin-left: 0.5em;
}
.ui.mini.menu{
    margin: 0 16px;
}
._1X0WU {
    -ms-flex-item-align: baseline;
    align-self: baseline;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
    color: #333;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    font-size: 14px;
    color: #4d4d4d;
    margin: 0;
    margin-right: 8px!important;
    line-height: 32px;
}
._3HYTF {
    font-weight: 700;
}
.masthead h1.ui.header {
margin-top: 3em;
margin-bottom: 0em;
font-size: 4em;
font-weight: normal;
}

.masthead h2 {
font-size: 1.7em;
font-weight: normal;
}

.ui.vertical.stripe {
padding: 8em 0em;
}

.ui.vertical.stripe h3 {
font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
clear: both;
}

.ui.vertical.stripe p {
font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
margin: 3em 0em;
}

.quote.stripe.segment {
padding: 0em;
}
/* 左侧筛选列表 */
.filtrate-div{
    margin-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
}
.filtrate-div svg {
    transition: all .4s ease-out;
    transform: rotate(0deg);
}
.filtrate-button{
    border-radius: 2px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    transition: all .2s ease-in;
    box-shadow: 1px 1px 3px -1px #e6e6e6;
    background-color: transparent;
    border: none;
    color: #b3b3b3;
    box-shadow: none;
    padding: 0;
    width: 100%;
    display: block;
    outline:none;
}
.filtrate-button div{
    margin-top: 4px;
    margin-bottom: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.filtrate-button div h3{
    margin: 0px;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 500;
}
.filtrate-button svg{
    transition: all .4s ease-out;
    transform: rotate(0deg);
}
.open-filtrate svg{
    transform: rotate(180deg);
}
@media only screen and (max-width: 767px){
    .filtrate-div{
    margin-left: 4%;
    float: left;
    width: 44%;
}
}
._25r2q {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 24px;
}
._3BYKu {
    position: relative;
}

._1hMyj {
    position: absolute;
    top: 6px;
    left: 8px;
}
._3yPNI {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 16px;
    color: #1a1a1a;
    border: 2px solid #e6e6e6;
    background-color: #fff;
    -webkit-appearance: none;
    font-size: 12px;
    border-width: 1px;
    border-radius: 2px;
    padding: 8px;
    padding-left: 22px;
    width: 100%;
    height: 32px;
}
._2zSyE {
    margin: 0 4px;
}

._3WEcW {
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,arial,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 14px;
    transition: all .2s ease-in;
    box-shadow: 1px 1px 3px -1px #e6e6e6;
    background-color: #e6e6e6;
    color: #666;
    width: 37%;
    height: 32px;
    margin-left: 8px;
    text-align: center;
}
._3WEcW:hover{
    background-color: rgb(240, 240, 240);
}
.grouped.fields{
    margin-bottom: 24px;
}
.grouped.fields .field{
    /* margin-bottom: 4px; */
    display: -ms-flexbox;
    display: flex;
    line-height: 32px;
    margin-right: 0px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.filtrate-div .ui.radio.checkbox{
    padding-top: 7px;
}
/* 筛选列表结束 */
.ui.checkbox{
    display: flex;
    justify-content: space-between;
    margin-right: 24px;
}
.quote.stripe.segment .grid .column {
padding-top: 5em;
padding-bottom: 5em;
}


@media only screen and (max-width: 700px) {
    

    


    .masthead.segment {
      min-height: 350px;
    }

    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 104px;
    }

    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1em;
    }
}



/* 移动端顶栏-搜索结束 */

.fixed.inverted.menu{
    display: none;
}
#pusher .masthead:after{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;
    opacity: 0.45;
}
#pusher .vertical.masthead,#pusher .masthead:after {
    -ms-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -moz-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    -webkit-transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
    transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s;
}
#pusher .masthead{
    background-color: #000000;  
    -webkit-transform: translate3d(0, 0, 0); 
    transform: translate3d(0, 0, 0);
}
#pusher .inverted.vertical.masthead.bg1:after {
    background-image: url("/images/index/1.jpg");
  }
  #pusher .inverted.vertical.masthead.bg2:after {
    background-image: url("/images/index/2.jpg");
  }
  #pusher .inverted.vertical.masthead.bg3:after {
    background-image: url("/images/index/3.jpg");
  }
  #pusher .inverted.vertical.masthead.bg4:after {
    background-image: url("/images/index/4.jpg");
  }
  #pusher .inverted.vertical.masthead.bg5:after {
    background-image: url("/images/index/5.jpg");
  }
  #pusher .inverted.vertical.masthead.bg6:after {
    background-image: url("/images/index/6.jpg");
  }
  #pusher .inverted.vertical.masthead.bg7:after {
    background-image: url("/images/index/7.jpg");
  }
  #pusher .inverted.vertical.masthead.bg8:after {
    background-image: url("/images/index/8.jpg");
  }
  #pusher .inverted.vertical.masthead.bg9:after {
    background-image: url("/images/index/9.jpg");
  }
  #pusher .inverted.vertical.masthead.bg10:after {
    background-image: url("/images/index/10.jpg");
  }
  #pusher .inverted.vertical.masthead.bg11:after {
    background-image: url("/images/index/11.jpg");
  }
  #pusher .inverted.vertical.masthead.bg12:after {
    background-image: url("/images/index/12.jpg");
  }
  #pusher .inverted.vertical.masthead.bg13:after {
    background-image: url("/images/index/13.jpg");
  }
  #pusher .inverted.vertical.masthead.bg14:after {
    background-image: url("/images/index/14.jpg");
  }
  #pusher .inverted.vertical.masthead.bg15:after {
    background-image: url("/images/index/15.jpg");
  }
  #pusher .inverted.vertical.masthead.bg16:after {
    background-image: url("/images/index/16.jpg");
  }  
/* pc顶栏 */
.ui.inverted.menu.PCtop{
    background: #ffffff00;
}

/* 添加到购物车选项表，弹框 */
.ReactModal__Overlay {
  padding-top: 53px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1042;
  background-color: rgba(51,51,51,.5);
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.ReactModal__Content {
  z-index: 1045;
}
.cart-modal__core-info{
  display: flex;
  justify-content: right;
  align-items: center;
  height: 58px;
  
}
.fds-c-text-heading.-size-l{
  margin: 0;
}
.fds-c-text-heading.-size-xxs{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
}
.modal{
  width: 367px;
}
@media (max-width: 640px){
  .cart-modal__core-info,.cart-modal__variant-info {
      width: 100%;
      float: left;
  }
}
@media (min-width: 640px){
  .fds-c-text-heading.-size-xxs{
      padding-right: 20px;
  }
  
  .cart-modal__core-info {
      width: 150px;
  }
  
  .cart-modal__variant-info {
      width: 130px;
      margin-top: 0;
  }
  .cart-modal__core-info,.cart-modal__variant-info{
      float: left;
  }
}
.fds-u-text-align-center {
  text-align: center;
}
.fds-c-modal__header {
  padding-top: .8em;
  padding-bottom: .8em;
  border-radius: 4px 4px 0 0;
}
.fds-c-modal__footer, .fds-c-modal__footer.-padding-s, .fds-c-modal__header, .fds-c-modal__header.-padding-s, .fds-c-modal__section, .fds-c-modal__section.-padding-s {
  padding: 16px;
}
.fds-c-modal__footer, .fds-c-modal__footer.-background-light, .fds-c-modal__header, .fds-c-modal__header.-background-light, .fds-c-modal__section, .fds-c-modal__section.-background-light {
  background-color: #fff;
  border: 1px solid #dedede;
}
.fds-c-modal__footer, .fds-c-modal__header, .fds-c-modal__section {
  overflow: auto;
  margin-top: -1px;
}
.cart-modal__variant-selector {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.fds-u-p3 {
  padding: 24px!important;
}
.fds-c-modal__footer.-height-scroll, .fds-c-modal__header.-height-scroll, .fds-c-modal__section.-height-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 250px;
}
.fds-c-modal__footer.-background-mid, .fds-c-modal__header.-background-mid, .fds-c-modal__section.-background-mid {
  background-color: #f5f5f5;
  border: 1px solid #dedede;
}
.fds-u-p2 {
  padding: 16px!important;
}
.fds-c-modal__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  border-radius: 0 0 4px 4px;
}
.fds-c-modal__footer-cta, .fds-c-modal__footer-cta.-align-left {
  text-align: left;
}
.fds-c-modal__footer-cta.-align-left{
  padding-left: 50px;
}
.fds-c-modal__footer-cta.-align-right {
  padding-right: 50px;
  text-align: right;
}
.fds-c-button.-color-light {
  background-color: #e6e6e6;
  border: 1px solid #dedede;
  color: #666;
}
.fds-c-button--3d.-color-primary {
  box-shadow: 0 2px 0 #6f9936;
  position: relative;
  background-color: #82b440; 
}
.fds-c-button--3d,.fds-c-button{
  font-size: 14px;
  padding: 5px 20px;
  line-height: 1.5;
}
.fds-c-modal__footer-cta {
  -ms-flex: 1 100px;
  flex: 1 100px;
}
.fds-c-text-heading.-size-m {
  font-size: 24px;
}
.fds-c-text-heading.-size-l,.fds-c-text-heading.-size-s{
  font-size: 28px;
  text-align: left;
}
.fds-c-text-body.-weight-bold {
  font-weight: 700;
  text-align: left;
}
.fds-c-text-heading,.fds-c-text-heading.-color-dark {
  color: #454545;
}
.fds-u-mb0 {
  margin-bottom: 0!important;
}
.fds-c-modal {
  position: relative;
  margin: 20px auto;
}
/* 弹框结束 */